{% for allocation in allocations %}
    <tr data-network='{{allocation.network}}' data-level='{{level|default:0}}' {% if level != None %}class='level-{{level}}'{% endif %}>
        <td>
            {% if allocation.subnets.exists %}
            <a href='#' class='allocation-{% if allocation.network in expand %}collapse{% else %}expand{% endif %}'><i class='fi-play'></i></a>
            {% else %}
                <i class='fi-list-thumbnails'></i>
            {% endif %}
            &nbsp;<a href='{% url 'pammy/network' network=allocation.network %}'>{{allocation.network}}</a></td>
        <td>{{allocation.name}}</td>
        <td>
            {% if not allocation.fully_divided %}
                <a href='{% url 'pammy/divide' network=allocation.network %}' class='tiny icon radius button'>Divide</a>
            {% endif %}
            {% if not allocation.full %}
                <a href='{% url 'pammy/fill' network=allocation.network %}' class='tiny icon radius button'>Fill</a>
            {% endif %}
        </td>
    </tr>
    {% if allocation.network in expand %}
        {% include 'pammy/allocation_table.html' with allocations=allocation.subnets.all level=level|add:1 %}
    {% endif %}
{% endfor %}
