{% for allocation in allocations %}
    <tr data-network='{{allocation.network}}' data-level='0'>
        <td>
            {% if allocation.subnets.exists %}
                <a href='#' class='allocation-expand'><i class='fi-play'></i></a>
            {% else %}
                <i class='fi-list-thumbnails'></i>
            {% endif %}
            &nbsp;<a href='{% url 'pammy/network' network=allocation.network %}'>{{allocation.network}}</a></td>
        <td>{{allocation.name}}</td>
        <td>
            {% if not allocation.fully_divided %}
                <a href='{% url 'pammy/divide' network=allocation.network %}' class='tiny icon radius button'>Divide</a>
            {% endif %}
            {% if not allocation.full %}
                <a href='{% url 'pammy/fill' network=allocation.network %}' class='tiny icon radius button'>Fill</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
