{% extend 'nuit/base.html' topbar=True app_title='IP Address Management' app_url='pammy/ip_list' %}
{% load compress %}
{% load static %}

{% block css %}

{% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static 'css/pammy.scss' %}' />
{% endcompress %}

<style type='text/css'>

    table tr td input[type=text] {
        margin-bottom: 0;
    }

    .icon.button {
        margin-bottom: 0;
        padding: 0.2rem 0.4rem;
    }

    table.allocations {
        table-layout: fixed;
    }

    table.allocations td {
        overflow: hidden;
        white-space: nowrap;
    }

    table.allocations, table.fills {
        width: 100%;
    }

    table.allocations .range, table.fills .range {
        width: 200px;
    }

    table.allocations .subnets, table.fills .subnets {
        width: 150px;
    }

    tr.disabled {
        opacity: 0.5;
    }

    .na {
        font-style: italic;
    }

    .allocation-collapse i:before {
        transform: rotate(90deg);
    }

</style>

{% endblock %}

{% block scripts %}

<script type='text/javascript'>

    var calculate_max = function() {
        $('.range').width('180px');
        var $tds = $('.allocations tbody tr td:first-child');
        var max = $tds[0].scrollWidth;
        $tds.each(function() {
            if ($(this)[0].scrollWidth > max) {
                max = $(this)[0].scrollWidth;
            }
        });
        if ( max > 200 ) {
            $('.range').width(max + 'px');
        }
    }

    $(document).ready(function() {

        $('.fills').on('click', '.disable-network', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $tr = $this.closest('tr');
            $tr.find('input')
                .attr('name', 'disabled_' + $tr.data('network-id'))
                .hide()
                .parent().append('<span class="na">This network will not be created</span>');
            $tr.addClass('disabled');
            $this.removeClass('disable-network').addClass('enable-network').html('Re-add');
        });

        $('.fills').on('click', '.enable-network', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $tr = $this.closest('tr');
            $tr.find('input')
                .attr('name', 'network_' + $tr.data('network-id'))
                .show().focus()
                .parent().find('.na').remove();
            $tr.removeClass('disabled');
            $this.removeClass('enable-network').addClass('disable-network').html('Remove');
        });

        $('.allocations').on('click', '.allocation-expand', function(e) {
            e.preventDefault();
            var $a = $(this);
            var $tr = $a.closest('tr');
            var level = $tr.data('level');
            if ( level == undefined ) {
                level = 0;
            }
            var request = $.get('{% url 'pammy.views.ui.allocation_table' %}', {'supernet': $tr.data('network')});
            request.done(function(d) {
                $a.removeClass('allocation-expand').addClass('allocation-collapse');
                $d = $(d);
                $d.attr('data-level', level + 1);
                $d.attr('data-supernet', $tr.data('network'));
                $d.addClass('level-' + (level + 1));
                $tr.after($d);
                calculate_max();
            });
        });

        $('.allocations').on('click', '.allocation-collapse', function(e) {
            e.preventDefault();
            var $a = $(this);
            var $tr = $a.closest('tr');
            $a.removeClass('allocation-collapse').addClass('allocation-expand');

            var findChildren = function(tr) {
                var depth = tr.data('level');
                return tr.nextUntil($('tr').filter(function() {
                    return $(this).data('level') <= depth;
                }));
            }

            var $children = findChildren($tr);
            $children.remove();
            calculate_max();
        });

        calculate_max();

    });

</script>

{% endblock %}
