{% extend 'nuit/base.html' topbar=True app_title='IP Address Management' app_url='pammy/ip_list' %}

{% block css %}

<style type='text/css'>

    table tr td input[type=text] {
        margin-bottom: 0;
    }

    .icon.button {
        margin-bottom: 0;
        padding: 0.2rem 0.4rem;
    }

    table.allocations, table.fills {
        width: 100%;
    }

    table.allocations .range {
        width: 300px;
    }

    table.allocations .subnets {
        width: 150px;
    }

    table.fills .range {
        width: 300px;
    }

    table.fills .subnets {
        width: 150px;
    }

    .level-1 td:first-child {
        padding-left: 20px;
    }

    .level-2 td:first-child {
        padding-left: 40px;
    }

    .level-3 td:first-child {
        padding-left: 60px;
    }

    .level-4 td:first-child {
        padding-left: 80px;
    }

</style>

{% endblock %}
