{% extend 'nuit/base.html' topbar=True app_title='IP Address Management' app_url='pammy/ip_list' %}
{% load compress %}
{% load static %}

{% block css %}

{% compress css %}
    <link rel='stylesheet' type='text/x-scss' href='{% static 'css/pammy.scss' %}' />
{% endcompress %}

<style type='text/css'>

    table tr td input[type=text] {
        margin-bottom: 0;
    }

    .icon.button {
        margin-bottom: 0;
        padding: 0.2rem 0.4rem;
    }

    table.allocations {
        table-layout: fixed;
    }

    table.allocations td {
        overflow: hidden;
        white-space: nowrap;
    }

    table.allocations, table.fills {
        width: 100%;
    }

    table.allocations .range, table.fills .range {
        width: 200px;
    }

    table.allocations .subnets, table.fills .subnets {
        width: 150px;
    }

    tr.disabled {
        opacity: 0.5;
    }

    .na {
        font-style: italic;
    }


</style>

{% endblock %}

{% block scripts %}

<script type='text/javascript'>

    $(document).ready(function() {

        $('.fills').on('click', '.disable-network', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $tr = $this.closest('tr');
            $tr.find('input')
                .attr('name', 'disabled_' + $tr.data('network-id'))
                .hide()
                .parent().append('<span class="na">This network will not be created</span>');
            $tr.addClass('disabled');
            $this.removeClass('disable-network').addClass('enable-network').html('Re-add');
        });

        $('.fills').on('click', '.enable-network', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $tr = $this.closest('tr');
            $tr.find('input')
                .attr('name', 'network_' + $tr.data('network-id'))
                .show().focus()
                .parent().find('.na').remove();
            $tr.removeClass('disabled');
            $this.removeClass('enable-network').addClass('disable-network').html('Remove');
        });

    });

</script>

{% endblock %}
