{% extend 'pammy/base.html' %}

{% block css %}
{{block.super}}

<style type='text/css'>

    tr.existing {
        opacity: 0.5;
        display: none;
    }

</style>

{% endblock %}

{% block scripts %}
{{block.super}}

<script type='text/javascript'>

    $(document).ready(function() {
    
        var show_text = 'Show existing subnets';
        var hide_text = 'Hide existing subnets';

        $('#show-existing').click(function(e) {
            e.preventDefault();
            $('.existing').toggle();
            if ($(this).html() == show_text) {
                $(this).html(hide_text);
            } else {
                $(this).html(show_text);
            }
        });

        var split_url = '{% url 'pammy/ui/split_network' %}';
        
        $('.fills').on('click', '.split-network', function(e) {
            e.preventDefault()
            var $this = $(this);
            var $tr = $this.closest('tr');
            var level = $tr.data('level');
            if ( level == undefined ) {
                level = 0;
            }
            var request = $.get(split_url, {'network': $tr.data('network')});
            request.done(function(d) {
                $d = $(d);
                $d.attr('data-level', level + 1);
                $d.addClass('level-' + (level + 1));
                $tr.after($d);
                $d.find('input').first().focus();
                $this.remove();
            });
        });

    });

</script>

{% endblock %}

{% block content %}

<h1>Fill {{allocation}}</h1>

<p>The following subnets are needed to fill {{allocation}}.</p>

<p><a href='#' class='tiny icon radius button' id='show-existing'>Show existing subnets</a></p>

<form method='post'>
    {% csrf_token %}
<table class='fills'>
    <thead>
        <tr>
            <th class='range'>IP Range</th>
            <th>Name</th>
            <th class='subnets'>Hosts</th>
            <th class='subnets'></th>
        </tr>
    </thead>
    <tbody>
        {% for network, existing in networks %}
        {% if existing %}
        <tr class='existing'>
            <td>{{network}}</td>
            <td>{{existing.name}}</td>
            <td>{{network|length}}</td>
            <td></td>
        </tr>
        {% else %}
            {% include 'pammy/fill_create_network_row.html' %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<input type='submit' value='Save' class='button' />

</form>

{% endblock %}
