{% extend 'pammy/base.html' topbar=True rightmenu=True %}

{% block css %}
{{block.super}}

<style>

    .allocation-leaf {
        cursor: default;
    }

    .allocation-collapse i:before {
        transform: rotate(90deg);
    }

    ul.allocations, ul.allocations ul, ul.allocations li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul.allocations li {
        width: 100%;
    }

    ul.allocations ul {
        margin-left: 20px;
    }

    ul.allocations span.name {
        display: inline-block;
        width: 300px;
        float: right;
    }

    ul.allocations span.subnets {
        display: inline-block;
        width: 150px;
        float: right;
    }

</style>

{% endblock %}

{% block scripts %}

<script type='text/javascript'>

    var calculate_max = function() {
        $('.range').width('180px');
        var $tds = $('.allocations tbody tr td:first-child');
        var max = $tds[0].scrollWidth;
        $tds.each(function() {
            if ($(this)[0].scrollWidth > max) {
                max = $(this)[0].scrollWidth;
            }
        });
        if ( max > 200 ) {
            $('.range').width(max + 'px');
        }
    }

    $(document).ready(function() {

        $('.allocations').on('click', '.allocation-expand', function(e) {
            e.preventDefault();
            var $a = $(this);
            var $tr = $a.closest('tr');
            var level = $tr.data('level');
            if ( level == undefined ) {
                level = 0;
            }
            var request = $.get('{% url 'pammy.views.ui.allocation_table' %}', {'supernet': $tr.data('network')});
            request.done(function(d) {
                $a.removeClass('allocation-expand').addClass('allocation-collapse');
                $d = $(d);
                $d.attr('data-level', level + 1);
                $d.attr('data-supernet', $tr.data('network'));
                $d.addClass('level-' + (level + 1));
                $tr.after($d);
                calculate_max();
            });
        });

        $('.allocations').on('click', '.allocation-collapse', function(e) {
            e.preventDefault();
            var $a = $(this);
            var $tr = $a.closest('tr');
            $a.removeClass('allocation-collapse').addClass('allocation-expand');

            var findChildren = function(tr) {
                var depth = tr.data('level');
                return tr.nextUntil($('tr').filter(function() {
                    return $(this).data('level') <= depth;
                }));
            }

            var $children = findChildren($tr);
            $children.remove();
            calculate_max();
        });

    });

</script>

{% endblock %}

{% block right_menu %}

{% menu_section 'Add Subnet' %}

    <form method='post'>
        {% foundation_form new_allocation collapse_container=True %}
        {% end_foundation_form %}
        <input type='submit' class='tiny button expand' value='Add' />
    </form>

{% end_menu_section %}

{% menu_section link_name='Help' %}
<dl>
    <dt>Divide</dt>
    <dd>Create subnets within the supernet of equal sizes.</dd>
    <dt>Fill</dt>
    <dd>Create all the subnets required to fill the rest of the space within the supernet.</dd>
</dl>
{% end_menu_section %}

{% endblock %}

{% block content %}

<h1>IP Address Allocations</h1>

<table class='allocations'>
    <thead>
        <tr>
            <th class='range'>IP Range</th>
            <th class='name'>Name</th>
            <th class='subnets'>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% include 'pammy/allocation_table.html' %}
    </tbody>
</table>

{% endblock %}
