{% extend 'pammy/base.html' topbar=True rightmenu=True %}

{% block right_menu %}

{% menu_section 'Add Subnet' %}

    <form method='post'>
        {% foundation_form new_allocation collapse_container=True %}
        {% end_foundation_form %}
        <input type='submit' class='tiny button expand' value='Add' />
    </form>

{% end_menu_section %}

{% menu_section link_name='Help' %}
<dl>
    <dt>Divide</dt>
    <dd>Create subnets within the supernet of equal sizes.</dd>
    <dt>Fill</dt>
    <dd>Create all the subnets required to fill the rest of the space within the supernet.</dd>
</dl>
{% end_menu_section %}

{% endblock %}

{% block content %}

<h1>IP Address Allocations</h1>

<table class='allocations'>
    <thead>
        <tr>
            <th class='range'>IP Range</th>
            <th class='name'>Name</th>
            <th class='subnets'>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% include 'pammy/allocation_table.html' %}
    </tbody>
</table>

{% endblock %}
